[submodule "third_party/DLSS5-Image-Converter"]
	path = third_party/DLSS5-Image-Converter
	url = https://github.com/criso2hd-alt/DLSS5-Image-Converter.git
[submodule "third_party/NVIDIA-DLSS"]
	path = third_party/NVIDIA-DLSS
	url = https://github.com/NVIDIA/DLSS.git
[submodule "third_party/cubit"]
	path = third_party/cubit
	url = https://github.com/kacper-daftcode/cubit.git
[submodule "third_party/reshade"]
	path = third_party/reshade
	url = https://github.com/crosire/reshade.git
